<section class="proyectos">
  <div class="row text-center">
    <h2 id="prtf">MIS PROYECTOS</h2> <hr> <br><br> <br>
  </div>
  <div class="row text-center">
    <div class="col-md">
      <a href="https://shiny-cat-223344.netlify.app/" target="_blank"><img class="tp" src="../../../assets/Captura de pantalla (2).jpg" alt="" /></a>
      <p class="subs" >Color Game</p> <hr>
    </div>
    <div class="col-md">
      <a href="https://shiny-moon-777.netlify.app/" target="_blank"><img class="tp" src="../../../assets/Captura de pantalla (4).jpg" alt="" /></a>
      <p class="subs">To Do List</p> <hr>
    </div>
    <div class="col-md">
      <a href="https://snowy-cloud-2233.netlify.app/" target="_blank"><img class="tp" src="../../../assets/Captura de pantalla (5).jpg" alt="" /></a>
      <p class="subs">Weather Channel</p> <hr>
    </div>
</div>
</section>

