<section class="educacion">
    <div class="row">
        <h1>Educación</h1> <hr>
    </div> <br><br>
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Secundario Completo</h2> <hr>
        <p>Escuela primaria y secundaria. Institución Escuela santa Magdalena. Título Bachiller en humanidades/ Área de ciencias sociales. (2013-2019)</p>
    </div>
    <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Certificados Cambridge</h2> <hr>
        <p>Exámenes Cambridge KET (Key English Test), PET (Preliminary English Test) y FCE (First Certificate in English) Level B2.(2018)</p>
    </div>
</div>
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Desarrollo Web Front-End</h2> <hr>
        <p>Curso introductorio al desarrollo web Front-End dictado por Plataforma 5 y el Centro Universitario de Vicente Lopez.(2022) </p>
    </div>
    <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Argentina Programa</h2> <hr>
        <p>Curso autogestionado de formación FullStack. Conocimientos de HTML, CSS, JavaSCRIPT, TypeScript, Angular, MySQL, entre otros.(2022-2023)
        </p>
    </div>
</div>
   
</section>
