.footer{
    background-color: rgb(0, 0, 0);
   
    color: white;
    width: 100%;
    text-align: center;
    margin: 0px;
}
.redes{
    padding-top: 4%;
}
.direccion{
    padding-top: 4%;
}
.row{
    width: 100%;
    margin: 0px auto;
}

#copy023 {
    background-color: rgb(31, 30, 30);
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

svg{
   width: 40px;
   height: 40px;
    cursor: pointer;
    color: white;
    margin: 6px;
    
}


svg:hover{
    color: rgb(119, 26, 180);
}