<section class="sobremi">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 fotoperfil">
        <img id="fotoperfil" src="../../../assets/pfp.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 nombree">
                <h1 id="nombre">Athina Tonietto</h1> <hr>
                <h3>Full <br> Stack <br> Developer Jr</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 desc">
                <span>
                    <h1>Acerca de mi</h1> <hr>
                    <p>Mi nombre es Athina Tonietto y soy estudiante del Centro Universitario Vicente Lopez. Me interesa la programación y actualmente poseo conocimientos básicos de HTML, CSS y JavaScript para el desarrollo web front-end. Mi objetivo es seguir formándome para ser Full-Stack Developer.</p>
                </span>
                
            </div>
</div>
</section>


    