
<section class="experiencia">
    <div class="row">
        <h1>Experiencia Laboral</h1> <hr>
    </div>

    <div class="row">
        <div class="col one col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <ul>
            <div class="row">
               <li> <h2>Emprendimiento propio</h2> </li>
                <p>Emprendimiento en conjunto de bijouterie y accesorios.</p>
            </div> <br>
            <div class="row">
              <li> <h2>Cuidado de mascotas</h2></li>
               <p>Cuidado de mascotas y niños. Paciencia y responsabilidad.</p>
            </div> <br>
            <div class="row">
                <li><h2>Call center</h2></li>
                <p>Atención al cliente, telemarketing, redes sociales, comunicación y ventas online.</p>
            </div> <br>
            <div class="row">
                <li><h2>Clases de Inglés</h2></li>
                <p>Clases de Ingles para niños de primaria y secundaria. Conocimientos de Ingles avanzado.</p>
            </div>
        </ul> <br>
        </div>
        <div class="text-cenetr col two col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="row">
                <img src="../../../assets/laptop.jpg" alt="">
            </div> <br> <br>
            <div class="row">
                <img src="../../../assets/call-center.jpg" alt="">
            </div>
        </div>
    </div>

</section>
